/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: cadetblue;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #1c6079;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

h7 {
  font-family: "Merriweather", serif;
  font-size: 40px;
}
h8 {
  font-family: "Merriweather", serif;
  font-size: 40px;
}
h9 {
  font-family: "Merriweather", serif;
  font-size: 40px;
}
.center {
  text-align: center;
}
